name: "Rust Build and Tests"

on:
    push:
      branches: [main]
      paths:
        - "**.rs"
        - ".github/workflows/ci.yml"
    pull_request:
      branches: [main]
      paths:
        - "**.rs"
        - ".github/workflows/ci.yml"
    release:
      types: [created]
    schedule:
      - cron: "0 0 * * 0"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
